{% extends 'emails/base_email.html.twig' %}

{% block content %}
    <h2>Invitation à rejoindre une équipe</h2>
    <p>Bonjour,</p>
    <p><strong>{{ hostName }}</strong> vous invite à rejoindre son équipe sur Hospes.</p>
    <p>Connectez-vous à votre compte pour accepter l'invitation.</p>
{% endblock %}
